header {
    background: url("images/top.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
}

body {
    background-color: #EEE;
}


/* #header {
    border-bottom: 4px solid #FF0000; 
    background-color: #FFF;
}*/
.light {
    color: #FFF;
}

.light-title {
    text-align: center;
}
.shadow-title {
    color: white;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
    text-align: center;
}

.light-up {
    text-transform: uppercase;
    font-size: 1em;
}

.light-content {
    font-size: .8em;
}

.btn-outline-poison {
    color: rebeccapurple !important;
    border-color: rebeccapurple;
}

.btn-outline-poison:hover {
    color: #FFF !important;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}
.badge {
    margin-right: 4px;
    font-size: 60%;
    padding: .1em .3em;
}
.badge-primary {
   background-color: #062c33;
}
.card {
    min-height: 600px;
    margin-top: 30px;
}
.card-text {
    height: 120px;
    font-size: 0.8rem;
}
#header img {
    /* margin: 0 auto; */
    display: block;
}
/* .layout {
    padding: 10px 0;
} */
#warning {
    background-color: yellow;
    color: #000;
    padding: 30px;
    margin-top: 20px;
}
#warning p {
    position: relative;
    font-size: 3em;
}

.border-right {
    min-height: 180px;
    border-right: 10px solid #FFFFFF !important;
}

footer {
    min-height: 200px;
    margin-top: 30px;
    border-top: 4px solid #000;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(145,8,8,1) 100%);
}

.mar-top {
    margin-top: 25px;
}

.semi-light {
    color: #555;
}

.btn-outline-insect {
    color: #729F3F;
    border: 1px solid #729F3F;
}

.btn-outline-insect:hover {
    background-color: #729F3F;
    color: #FFF;
}

.btn-outline-info {
    color: #15f3bc;
    border: 1px solid #15f3bc;
}

.btn-outline-info:hover {
    background-color: #15f3bc;
    border: 1px solid #15f3bc;
    color: #FFF;
}